.poke {
  width: 90%;
  margin: auto;
  h1 {
    text-transform: capitalize;
  }
  .pokemon-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .item {
      text-transform: capitalize;
      width: 30%;
    }
  }
}
pagination {
  
}